*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#000, #010101);
  font-family: "montserrat", sans-serif;
  color: #fff;
}

.container {
  width: 1230px;
  margin: 0 auto;
}

.grid {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

/* ----------------- Clearfix --------------- */

.group::before,
.group::after {
  content: "";
  display: table;
}

.group::after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

/* ------- Fonts ------ */

h1, h2, h3, h4, h5, h6, a, li {
  color: #fff;
  font-family: "montserrat", arial, sans-serif;
}

/* Buttons */

.btn {
  font-variant: small-caps;
  text-decoration: none;
}

.btn-primary {
  /* background-color: #0f33ff; */
  /* padding: 10px 20px; */
}

/* --------- Header ------------- */

.main-header {
  margin-top: 20px;
  position: relative;
  z-index: 1;
}
.main-header * {
  vertical-align: middle;
  display: inline-block;
}

.logo {
  width: 50%;
}

.logo h3 {
  font: small-caps 1000 20px/20px "montserrat", arial, sans-serif;
  padding-left: 10px;
}

.logo img {
  width: 33px;
  height: 33px;
}

.secondary-nav {
  position: relative;
  width: 50%;
  text-align: right;
}

.small-nav p {
  display: block;
  margin-top: 5px;
  width: 23px;
  height: 2px;
  background: #fff;
}

.small-nav p:first-child {
  margin-top: 0;
}

.small-nav p:nth-child(2) {
  width: 15px;
  margin-left: auto;
  margin-right: auto;
}

.secondary-nav ul {
  position: absolute;
  right: 0;
  top: 33px;
  display: none;
}

.secondary-nav ul li {
  display: block;
  line-height: 1.5em;
}

.secondary-nav ul li:hover {
  font-size: 18px;
}

.secondary-nav ul li a {
  text-decoration: none;
}

.small-nav {
  position: relative;
  padding: 5px;
}

.small-nav label {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  cursor: pointer;
}

#secondary-nav {
  display: none;
}

#secondary-nav:checked ~ ul {
  display: block;
}

#secondary-nav:checked ~ .small-nav {
  background-color: #282828;
}

#secondary-nav:checked ~ .small-nav label {
  cursor: default;
}

/* --------Main Content----------- */
.main-container > * {
  display: inline-block;
  vertical-align: middle;
}

/* --------Navigation----------- */
.main-navigation {
  width: 10%;
}

.primary-nav {
  box-sizing: content-box;
  margin: 15vh 0;
  height: 70vh;
}

.primary-nav ul {
  height: 100%;
}

.primary-nav ul li {
  height: 20%;
}

.primary-nav ul li p {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  opacity: .35;
}

.primary-nav .active p.nav-it-2,  .primary-nav .active p.nav-it-3 {
  opacity: 1;
}

.primary-nav .active p.nav-it-2 {
  background: #0f33ff;
}

.primary-nav .nav-it-1 {
  height: 100%;
  width: 2px;
  background: #555;
  opacity: .35;
}

.primary-nav .nav-it-2 {
  width: 3px;
  height: 3px;
  background: #fff;
  border-radius: 50%;
  margin-left: -2px;
  position: relative;
  z-index: 1;
}

.primary-nav .nav-it-3 {
  padding-left: 20px;
}

.primary-nav ul li:first-child .nav-it-3::before {
  content: "01";
  position: absolute;
  left: 0;
}

/* ------------MainContent-------------- */

.main-content {
  width: 80%;
}

.main-content aside {
  position: relative;
}

.main-content aside::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 30px;
  right: 43px;
  height: 2px;
  background-color: #282828;
}

.main-content aside::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: 1px;
  left: 43px;
  width: 30px;
  background-color: #0f33ff;
}

.main-content aside > * {
  vertical-align: middle;
  display: inline-block;
}

.main-content aside > div {
  width: 400px;
  margin-left: 43px;
}

.main-content h2 {
  font: 68px/68px "montserratblack", arial, sans-serif;
  margin-bottom: 40px;
}

.main-content aside a {
  width: 110px;
  height: 30px;
  display: inline-block;
  position: relative;
  line-height: 28px;
  font-size: 17px;
  font-family: "montserratbold", arial, sans-serif;
  background: url("img/ic_arrow.png") 80% no-repeat;
  text-indent: 10px;
}

.main-content aside p {
  width: 85px;
  height: 100%;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #0f33ff;
  z-index: -1;
}

.main-content .btn-primary:hover p {
  width: 100%;
}

.articles > * {
  width: 33.33%;
  display: inline-block;
  color: #fff;
}

.articles a {
  display: block;
  text-decoration: none;
  padding-left: 43px;
}

.articles h3 {
  margin-top: 40px;
  font-size: 19px;
  font-variant: small-caps;
  opacity: .15;
  font-family: "montserratblack", arial, sans-serif;
}

.articles p {
  margin-top: 20px;
  width: 80%;
  font-size: 15px;
  opacity: .15;
  line-height: 1.5em;
}

.articles article:hover h3, .articles article:hover p{
  opacity: 1;
}

/* ---------IFRAME---------- */

iframe {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

input {
  display: none;
}

label {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  cursor: pointer;
}

.nav-it-2, .nav-it-3 {
  position: relative;
}

.primary-nav .active .nav-it-3 {
  position: static;
}

#works:checked ~ iframe.works {
  display: block;
  z-index: 10;
}

/* #works:checked ~ :not(iframe[src="works.html"]) {
  display: none;
} */

#aboutus:checked ~ iframe.aboutus {
  display: block;
  z-index: 10;
}
