/* Template */
* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}

.grid {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.col-1-3 {
  width: 33.33%;
  display: inline-block;
}

.col-1-4 {
  width: 25%;
}

.col-2-4 {
  width: 50%;
}

.row {
  min-width: 960px;
}

/* Clearfix GROUP */
.group::before,
.group::after {
  content: "";
  display: table;
}

.group {
  clear: both;
}

.group::after {
  clear: both;
  *zoom: 1;
}

/* Fonts Settings */
h1, h2, h3, h4, h5, h6, p, span, li, a {
  color: #fff;
  font-family: "montserrat", arial, sans-serif;
}

/* Buttons */
.btn {
  padding: 7px 20px;
  color: #fff;
  text-decoration: none;
}

.btn-primary {
  background-color: #0f33ff;
  display: inline-block;
  font: small-caps 17px/17px "montserratbold", arial, sans-serif;
}

/* All Parameters */

/* --------Header----------- */
.header {
  font-family: "montserrat", arial, sans-serif;
  margin-top: 20px;
  position: relative;
  z-index: 10;
}

.header > div {
  vertical-align: middle;
}

.logo * {
  display: inline-block;
  vertical-align: middle;
}

.logo img {
  width: 33px;
  height: 33px;
}

.logo h3 {
  margin-left: 10px;
  font: small-caps 1000 20px/20px "montserrat", arial, sans-serif;
}

.top-button {
  text-align: center;
}

.secondary-nav {
  text-align: right;
  position: relative;
  text-transform: uppercase;
}

.secondary-nav div {
  display: inline-block;
  padding: 5px 5px 5px 5px;
  position: relative;
}

.secondary-nav div label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.secondary-nav div p {
  width: 23px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #fff;
}

.secondary-nav div:hover {
  background-color: #282828;
}

.secondary-nav div p:nth-of-type(2n) {
  width: 15px;
  margin-left: auto;
  margin-right: auto;
}

.secondary-nav div p:last-child {
  margin-bottom: 0;
}

.secondary-nav ul {
  display: none;
  position: absolute;
  right: 0;
  top: 33px;
  z-index: 10;
}

.secondary-nav ul li {
  line-height: 1.5em;
  text-transform: none;
}

.secondary-nav ul li:hover {
  font-size: 18px;
}

.secondary-nav ul li a {
  text-decoration: none;
}

#secondary-nav-inp:checked ~ ul {
  display: block;
}

#secondary-nav-inp:checked ~ div {
  background-color: #282828;
}

#secondary-nav-inp:checked ~ div label {
  cursor: default;
}

/* --------Main Content----------- */
.main-container > * {
  display: inline-block;
  vertical-align: middle;
}

/* --------Navigation----------- */
.main-navigation {
  width: 10%;
}

.primary-nav {
  margin: 15vh 0;
  height: 70vh;
}

.primary-nav ul {
  height: 100%;
}

.primary-nav ul li {
  height: 20%;
}

.primary-nav ul li p {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  opacity: .35;
}

.primary-nav .active p.nav-it-2,  .primary-nav .active p.nav-it-3 {
  opacity: 1;
}

.primary-nav .active p.nav-it-2 {
  background: #0f33ff;
}

.primary-nav .nav-it-1 {
  height: 100%;
  width: 2px;
  background: #555;
  opacity: .35;
}

.primary-nav .nav-it-2 {
  width: 3px;
  height: 3px;
  background: #fff;
  border-radius: 50%;
  margin-left: -2px;
  position: relative;
  z-index: 1;
}

.primary-nav .nav-it-3 {
  padding-left: 20px;
}

.primary-nav ul li:nth-child(2) .nav-it-3::before {
  content: "02";
  position: absolute;
  left: 0;
}

/* --------Content----------- */
.main-content {
  text-align: center;
  width: 80%;
}

.main-content h2 {
  font: 30px/30px "montserratbold", arial, sans-serif;
}

.main-content > article {
  display: inline-block;
  vertical-align: middle;
}

.main-it {
  position: relative;
  margin: 0 45px;
  width: 150px;
}

.main-it-2 {
  margin: 0 45px;
  width: 300px;
}

.main-content article div {
  border-radius: 50%;
  background-size: cover;
}

.main-it-1 div {
  height: 150px;
  background: url("img/layer-3.png") no-repeat;
}

.main-it-2 div {
  height: 300px;
  background: url("img/layer-1.png") no-repeat;
  margin: 40px 0;
}

.main-it-3 div {
  height: 150px;
  background: url("img/layer-2.png") no-repeat;
}

.main-it-2 h3 {
  margin-bottom: 20px;
  font-size: 16px;
}

.main-it-2 p {
  line-height: 1.5em;
  font-size: 15px;
}

.main-it-1 h3, .main-it-3 h3 {
  font-size: 12px;
  color: #555;
  margin-top: 20px;
}

.main-content article h3 {
  font-weight: 700;
  text-transform: uppercase;
}

.main-content figure {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.arr-left {
  top: 50px;
  position: absolute;
  left: -95px;
  background: url("img/ic_arrow_back.png") center no-repeat;
}

.arr-right {
  top: 50px;
  position: absolute;
  right: -95px;
  background: url("img/ic_arrow.png") center no-repeat;
}

.arr-left:hover, .arr-right:hover {
  background-color: #282828;
}

/* ---------Iframes-------- */

iframe {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav-it-3 {
  position: relative;
}

.active .nav-it-3 {
  position: static;
}

label {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  cursor: pointer;
}

#home:checked ~ .home {
  display: block;
}
