body {
  background-color: #0c0c0c;
}

h1, h2, h3, h4, h5, h6, p, span, a, li {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", arial, sans-serif;
}

.btn {
  font-family: "Montserrat", arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border: 0;
  color: #fff;
}

.btn-primary {
  background-color: #0f33ff;
}

.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  perspective: 1500px;
  overflow: hidden;
}

.size-err {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #0c0c0c;
  position: fixed;
  z-index: 12;
}

.size-err p {
  margin-top: 30px;
  line-height: 1.6;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  max-width: 70%;
}

@media (max-width: 767px) {
  .size-err {
    display: flex;
  }
}

.container {
  width: 1440px;
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  transition: transform .4s;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo h3 {
  font: small-caps 700 20px "Montserrat", arial, sans-serif;
  margin-left: 10px;
}

.header .btn-primary {
  padding: 0 20px;
  line-height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.secondary-nav {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.secondary-nav:hover {
  transition: background-color .2s;
  background-color: #323232;
}

.secondary-nav span, .secondary-nav::before, .secondary-nav::after {
  content: "";
  width: 23px;
  height: 2px;
  background-color: #fff;
}

.secondary-nav::before {
  position: relative;
  bottom: 5px;
}

.secondary-nav span {
  width: 18px;
}

.secondary-nav::after {
  position: relative;
  top: 5px;
}

/* ---------------------------PRIMARY NAVIGATION---------------------------------- */

.primary-nav {
  position: absolute;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.primary-nav::before {
  content: "";
  position: absolute;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #555;
  width: 2px;
  max-height: 750px;
  opacity: .35;
}

.primary-nav ul {
  list-style-position: inside;
  display: flex;
  font-size: 6px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  left: 0;
  top: 50%;
  height: 70%;
  transform: translateY(-50%);
  max-height: 750px;
}

.primary-nav ul li {
  position: relative;
  list-style: disc inside;
  width: 100%;
}

.primary-nav ul li:first-child::before {
  content: "01";
}

.primary-nav ul li:nth-child(2)::before {
  content: "02";
}

.primary-nav ul li:nth-child(3)::before {
  content: "03";
}

.primary-nav ul li:nth-child(4)::before {
  content: "04";
}

.primary-nav ul li:last-child::before {
  content: "05";
}

.primary-nav ul li p {
  font-size: 14px;
  position: absolute;
  top: -5px;
  left: 15px;
  visibility: hidden;
  font-weight: 100;
}

.primary-nav ul li.active {
  color: #0f33ff;
}

.primary-nav ul li.active p {
  visibility: visible;
}

.primary-nav ul li::before {
  color: #fff;
  position: absolute;
  font-size: 14px;
  left: 11px;
  top: -5px;
  font-weight: 100;
  opacity: .35;
}

.primary-nav ul li.active::before {
  left: -33px;
  opacity: 1;
}

@media (max-width: 1180px) {
  .primary-nav {
    display: none;
  }
}

/* ----------------------------Main Container------------------------ */

.main-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.main-content {
  width: 900px;
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

@media (max-width: 1180px) {
  .main-content {
    max-width: 100%;
  }
}

/* --------------HOMEPAGE------------- */

.main-upper {
  display: flex;
  width: 100%;
  position: relative;
  height: 475px;
}

.main-upper::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: -15px;
  right: 0;
  height: 2px;
  background-color: #282828;
}

.main-upper::after {
  content: "";
  background-color: #0f33ff;
  position: absolute;
  bottom: 18px;
  height: 4px;
  left: 0;
  width: 30px;
  z-index: 1;
}

.main-upper img {
  position: absolute;
  bottom: 21px;
  right: -12px;
}

.main-text {
  position: relative;
  left: 0;
  width: 100%;
}

.main-text h1 {
  font-size: 68px;
  font-weight: 900;
  line-height: 1;
  margin: 0.68em 0;
  position: relative;
  z-index: 1;
}

.main-text .btn-primary {
  margin-top: 45px;
  position: relative;
  width: 110px;
  height: 30px;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-text .btn-primary:after {
  content: "";
  position: relative;
  width: 20px;
  height: 20px;
  background: url("../img/ic_arrow.png") right no-repeat;
  background-size: 18px;
  margin-left: 5px;
}

.main-text .btn-primary::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 75%;
  background-color: #0f33ff;
  z-index: -1;
  transition: width .2s;
}

.main-text .btn-primary:hover::before{
  width: 100%;
}

.main-down {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.main-down a {
  width: 250px;
}

.main-down a:hover * {
  color: #fff;
}

.main-down h3 {
  text-transform: uppercase;
  color: #282828;
  line-height: 1.6;
  font-size: 16px;
  margin: 16px 0;
  font-weight: 700;
  transition: color .2s;
}

.main-down a p {
  color: #282828;
  text-transform: none;
  font-size: 14px;
  margin-top: 16px;
  line-height: 1.6;
  transition: color .2s;
}

@media (max-width: 900px) {
  .main-upper {
    height: 380px;
  }

  .main-upper h1 {
    font-size: 55px;
  }

  .main-upper img {
    width: 430px;
  }

  .main-down a {
    margin-right: 30px;
  }

  .main-down a:last-child {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .main-upper {
    height: 305px;
  }

  .main-upper h1 {
    font-size: 44px;
  }

  .main-upper img {
    width: 330px;
  }

  .main-down {
    display: block;
  }

  .main-down a {
    display: block;
    max-width: 100%;
    margin: 0 0 30px 0;
  }

  .main-down a:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .main-upper {
    height: 360px;
  }

  .main-upper h1 {
    font-size: 55px;
  }

  .main-upper img {
    display: none;
  }
}

@media (max-width: 600px) and (max-height: 750px) {
  .main-upper {
    height: auto;
  }

  .main-upper::before, .main-upper::after {
    display: none;
  }

  .main-upper h1 {
    margin-top: 0;
  }

  .main-down {
    display: none;
  }
}

.main-content:first-child {
  display: none;
}

/* -----------------WROKSPAGE------------- */
.main-content:nth-child(2) {
  display: none;
}

.main-content {
  position: relative;
}

.main-work {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.main-work h2 {
  position: absolute;
  font-size: 30px;
  top: -80px;
  font-weight: 700;
  left: 0;
  right: 0;
}

.main-work::before {
  content: "";
  background: #323232 url("../img/ic_arrow_back.png") center no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  left: -50px;
  border-radius: 50%;
  cursor: pointer;
}

.main-work::after {
  content: "";
  background: #323232 url("../img/ic_arrow.png") center no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  right: -50px;
  border-radius: 50%;
  cursor: pointer;
}

.main-work article {
  text-align: center;
}

.main-work div {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.main-work .main-work-1 div {
  background: url("../img/work-victory.jpg") no-repeat;
  background-size: cover;
  background-position: top;
}

.main-work .main-work-2 div {
  background: url("../img/work-metiew-smith.jpg") center no-repeat;
  background-size: cover;
}

.main-work .main-work-3 div {
  background: url("../img/work-alex-nowak.jpg") no-repeat;
  background-size: cover;
  background-position: top;
}

.main-work .main-work-1, .main-work .main-work-3 {
  width: 150px;
  height: 150px;
}

.main-work .main-work-2 {
  width: 300px;
  height: 300px;
  position: relative;
}

.main-work .wactive h3 {
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 16px;
  font-weight: 700;
  color: #fff;
}

.main-work .main-work-1 p, .main-work .main-work-3 p {
  display: none;
}

.main-work .wactive p {
  line-height: 1.6;
  font-size: 14px;
}


.main-work h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #858585;
  margin-top: 10px;
}


/* --------------------ABOUTPAGE--------------------- */

.main-content:nth-child(3) {
  display: none;
}

.main-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.about-upper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  height: 475px;
}

.about-text {
  position: relative;
}

.about-text::after {
  content: "";
  border: 5px solid #0f33ff;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(-15deg);
  position: absolute;
  top: 30px;
  right: 180px;
}

.about-text::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #0f33ff;
  transform: rotate(45deg);
  right: -20px;
  top: 100px;
}

.about-text h1 {
  font-size: 68px;
  font-weight: 900;
  position: relative;
  margin-top: 35px;
  margin-bottom: 56.4333px;
  position: relative;
}

.about-text h1::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 61px;
  right: 93px;
  border-radius: 50%;
  background-color: #0f33ff;
}

.about-text h1::after {
  content: "";
  position: absolute;
  bottom: 5px;
  right: 126px;
  background-color: #0f33ff;
  width: 10px;
  height: 10px;
}

.about-text .career-btn {
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
  line-height: 1.6;
}

.about-text .career-btn::after {
  content: "";
  background: url("../img/ic_arrow.png") center no-repeat;
  height: 14px;
  width: 17px;
  background-size: cover;
  margin-left: 5px;
  transition: margin .2s;
}

.about-text .career-btn:hover::after {
  margin-left: 10px;
}

.main-about img {
  position: absolute;
  top: -66px;
  right: -12px;
}

.about-menu {
  display: flex;
}

.about-it {
  width: 150px;
  height: 75px;
  border: 10px solid #0f33ff;
  position: relative;
  margin-right: 45px;
  background-size: cover;
  background-position: center;
}

.about-it-1 {
  background-image: url("../img/about-winners.jpg");
}

.about-it-2 {
  background-image: url("../img/about-philosophy.jpg");
}

.about-it-3 {
  background-image: url("../img/about-history.jpg");
}

.about-it h3 {
  position: absolute;
  margin: 16px 0;
  bottom: -38px;
  left: 10px;
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  transition: bottom .2s;
}

.about-it:hover h3 {
  bottom: -50px;
}

/* ----------------Ð¡ontacts Page------------------ */

.main-content:nth-child(4) {

  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  max-width: 100%;
  background: url("../img/contact-visual.png") center no-repeat;
  background-size: cover;
}

.main-contact {
  width: 900px;
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.inner-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 270px;
  padding: 45px;
  background-color: #0c0c0c;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.75);
}

.inner-contact p {
  font-size: 14px;
  font-weight: 700;
}

.inner-contact a {
  font-size: 14px;
  font-weight: 700;
}

.inner-contact .btn {
  width: 130px;
}

.btn-behance {
  line-height: 40px;
  background-color: #1769ff;
  text-transform: none;
}

.btn-dribble {
  line-height: 40px;
  background-color: #ea4c89;
  text-transform: none;
}

.inner-contact .btn-primary {
  line-height: 40px;
}

/* --------------------HireUs Page---------------- */

.main-hireus {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hire-task {
  display: flex;
}

.main-hireus h2 {
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 700;
}

.main-hireus .btn {
  width: 200px;
  height: 50px;
  border: 2px solid #fff;
  line-height: 50px;
  position: relative;
  transition: background-color .4s, border-color .4s;
  margin: 20px;
  text-transform: none;
  font-size: 16px;
}

.btn span {
  transition: left .4s;
}

.main-hireus .btn label {
  position: absolute;
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  cursor: pointer;
}

.main-hireus .btn svg {
  width: 0;
  fill: #fff;
  transition: width .2s ease-in-out;
  position: relative;
  left: -5px;
  vertical-align: middle;
}

.main-hireus input[type="checkbox"] {
  display: none;
}

.hire-info {
  display: flex;
  justify-content: center;
}

.hire-it {
  width: 315px;
  height: 40px;
  position: relative;
  margin: 20px;
  border-bottom: 1px solid #fff;
  padding: 5px 0;
}

.hire-it p {
  font-size: 30px;
  position: absolute;
  left: 0;
  top: 15px;
  font-weight: 100;
  z-index: -1;
  transition: top .2s, font-size .2s;
}

.hire-it input[type="text"] {
  border: 0;
  background-color: transparent;
  color: #fff;
  height: 40px;
  width: 100%;
  left: 0;
  top: 0;
  font-size: 40px;
}

.hire-it input[type="text"]:focus ~ p {
  top: -12px;
  font-size: 14px;
}

.main-hireus .btn-primary {
  width: 400px;
  border: 0;
  text-transform: uppercase;
}

#btn-app:checked ~ .btn-app-design svg {
  width: 15px;
  display: inline-block;
}

#btn-app:checked ~ .btn-app-design span {
  left: 0;
}

#btn-app:checked ~ .btn-app-design {
  background-color: #0f33ff;
  border-color: #0f33ff;
}

#btn-graphic:checked ~ .btn-graphic-design svg {
  width: 15px;
  display: inline-block;
}

#btn-graphic:checked ~ .btn-graphic-design span {
  left: 0;
}

#btn-graphic:checked ~ .btn-graphic-design {
  background-color: #0f33ff;
  border-color: #0f33ff;
}

#btn-motion:checked ~ .btn-motion-design svg {
  display: inline-block;
  width: 15px;
}

#btn-motion:checked ~ .btn-motion-design span {
  left: 0;
}

#btn-motion:checked ~ .btn-motion-design {
  background-color: #0f33ff;
  border-color: #0f33ff;
}

#btn-ux:checked ~ .btn-ux-design svg {
  display: inline-block;
  width: 15px;
}

#btn-ux:checked ~ .btn-ux-design span {
  left: 0;
}

#btn-ux:checked ~ .btn-ux-design {
  background-color: #0f33ff;
  border-color: #0f33ff;
}

#btn-web:checked ~ .btn-webdesign svg {
  display: inline-block;
  width: 15px;
}

#btn-web:checked ~ .btn-webdesign span {
  left: 0;
}

#btn-web:checked ~ .btn-webdesign {
  background-color: #0f33ff;
  border-color: #0f33ff;
}

#btn-marketing:checked ~ .btn-marketing svg {
  display: inline-block;
  width: 15px;
}

#btn-marketing:checked ~ .btn-marketing span {
  left: 0;
}

#btn-marketing:checked ~ .btn-marketing {
  background-color: #0f33ff;
  border-color: #0f33ff;
}

.main-container .main-content:last-child {
  display: none;
}


/* ----------------Outer Navigation---------------- */

.outer-nav {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
  line-height: 88px;
  text-align: center;
  z-index: -1;
}

li.is-vis {
  visibility: hidden;
  opacity: 0;
  transform: translatex(50%) translateZ(-1000px);
  transition: transform .4s, opacity .2s, visibility .4s;
}

.outer-nav li:nth-child(2) {
  transition-delay: .04s;
}

.outer-nav li:nth-child(3) {
  transition-delay: .08s;
}

.outer-nav li:nth-child(4) {
  transition-delay: .12s;
}

.outer-nav li:last-child {
  transition-delay: .16s;
}

.outer-nav .is-vis {
  font-size: 55px;
  font-weight: 900;
}

#outer-c {
  display: none;
}

.secondary-nav label {
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#outer-c:checked ~ .container {
  transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
  outline: 30px solid #0f33ff;
}

#outer-c:checked ~ .is-vis .is-vis {
  visibility: visible;
  cursor: pointer;
  transform: translatex(0) translatez(0);
  opacity: 1;
}

.is-vis .is-active {
  position: relative;
}

.is-vis .is-active::before {
  content: "";
  position: absolute;
  height: 15px;
  background-color: #0f33ff;
  top: 50%;
  transform: translate(0%, -25%);
  left: -10px;
  right: -10px;
}
